{% extends 'base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <div class="checkout_title">
        <h1>Оформление заказа</h1>
    </div>
    <div class="order-info">
        <h3>Ваш заказ:</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>&#8372; {{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>К оплате: &#8372; {{ cart.get_total_price }}</p>
    </div>
    <div class="order_form">
        <form action="" method="post" class="order-form">
            {{ form.as_p }}

            <p class="button_order"><input type="submit" value="Заказать"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
